body{
    background-color: black;
    color: white;
}
.conatiner{
      width: 100%;
      overflow: hidden;
}
.box {
   float: left;
   width: 33.33%;
   padding: 15px;
   color: greenyellow;
   box-sizing: border-box; 
}
.LeftAlign{
    background-color: red;
    border: 5px solid green;
}
.CenterAlign {
    background-color: green;
    border: 5px solid blue;
}
.RightAlign {
    background-color: blue;
    border: 5px solid red;
}
body{
    color: blue;
}

section{
text-align: start;
border:  silver;
}

div{
text-align: right;
border: yellow;
}
body{
    background-color:  grey;
    color:  blue;
}

section{
text-align: start;
border:  aquamarine;
}

div{
text-align: right;
border: yellow;
}